<html>
    <head>
        <title>
           <%=title%>
        </title>
        <link rel="stylesheet" href='/css/layout.css'>
        <link rel="stylesheet" href='/css/user_profile.css'>
        <%-style%>
    </head>
    <body>
        <%-include('_header')%>
      

        <%-body %>

        <%-include('_footer')%>
        <%-script%>
    </body>
</html>